.container {
  /* display: flex; */
  width: 60%;
  margin: auto;
}
.img {
  /* border: 2px solid green; */

  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.container img {
  width: 95px;
  height: 95px;
  margin-right: 20px;
}
.container p {
  font-size: 18px;
  color: #666666;
  line-height: 20px;
}
.img p {
  font-size: 30px;
  color: black;
}

.btn {
  margin-left: 16%;
}
#btn {
  background-color: red;
  width: 25%;
  height: 45%;
  border: 2px solid red;
  border-radius: 5px;
}
