.userProfile {
  margin: 0;
  padding: 0;
  /* background-image: url('https://www.kindmeal.my/images/default_member_cover-3.jpg'); */
  /* box-shadow: 0 0 8px 8px white inset; */
}

.head_div img {
  width: 100%;
}
.user {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 100px;
  position: relative;
  margin-top: -200px;
  margin-bottom: 50px;
}

.user_img {
  position: relative;
  width: 220px;
}
.user_img img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 4px solid white;
}

.head_btn_div button {
  margin-right: 20px;
  margin-top: 50px;
  padding: 7px;
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.706);
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.542);
  border: none;
}
.head_btn_div button:hover {
  background-color: white;
}
.username_div {
  position: relative;
  padding-left: 430px;
  margin-top: -50px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.706);
  width: 100%;
}
.username_div > div {
  display: flex;
  gap: 30px;
  /* width: 400px; */
  align-items: center;
  /* justify-content: center; */
  padding-bottom: 20px;
}
.username_div div h1 {
  font-size: 30px;
  font-weight: 500;
  color: black;
  /* margin-top: -10px; */
}
.username_div div h2 {
  font-size: 25px;
  /* margin-top: 6px; */
  font-weight: 400;
  color: #333333;
}
.dot {
  color: black;
  font-size: 30px;
}

.share_btn_div button {
  border: none;
  width: 120px;
  padding: 6px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 6px;
  background-color: blue;
}
.food {
  border-color: inherit;
  width: 70%;
  margin: auto;
  margin-top: 15px;
  border: 1px solid #dddddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 6px #e0e0e0;
  box-sizing: border-box;
}
.head {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* width: 1090px; */
  background-color: #f0f0f0;
  font-size: 28px;
  line-height: 40px;
  vertical-align: middle;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
}

.child_div {
  background-color: rgb(255, 255, 255);
  border-color: grey;
  display: flex;
  box-sizing: border-box;
}
.child_div img {
  width: 50%;
  height: 380px;
}
.inner {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  height: 170px;
  width: 278px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
  box-sizing: border-box;
}
.username_div h1 img {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}
.inner p {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner p img {
  height: 23px;
  width: 23px;
  margin-left: 5px;
}
.inner div img {
  height: 35px;
  margin-top: 10px;
  width: 35px;
  margin-bottom: 10px;
}
.btn {
  background-color: blue;
  color: #f0f0f0;
  width: 60px;
  padding: 14px auto;
  text-align: center;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 30px;
  margin-right: 20px;
}
.share {
  margin-left: 130px;
}
.share img {
  height: 35px;
  width: 35px;
  margin-left: 10px;
}
.inner1 {
  width: 50%;
  text-align: left;
  padding: 30px 30px;
}
.inner1 p {
  font-size: 30px;
  margin-bottom: 15px;
}
.inner1 ul {
  margin-left: 40px;
  line-height: 25px;
}
.inner1 ol {
  margin-left: 40px;
  line-height: 21px;
}
.inner2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.inner2 img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.inner2 div {
  background-color: blue;
  color: #fff;
  padding: 10px 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner1 span img {
  height: 30px;
  width: 35px;
  margin-right: 10px;
}
.inner1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}
.star img {
  height: 35px;
  width: 35px;
}
.inner1 a {
  color: blue;
}
.child1 ul {
  font-size: 17px;
  color: black;
  list-style-type: none;
  margin-left: 0px;
  line-height: 29px;
  width: 160px;
}
.child2 > ul {
  font-size: 14px;
  color: #444444;
  list-style-type: none;
  margin-left: 15px;
  line-height: 29px;
  width: 330px;
}
.child2 ul li ul {
  margin-left: 0px;
  list-style-type: disc;
}
.imgDiv {
  background-color: rgb(240, 240, 240);
  display: grid;
  grid-template-columns: repeat(6, 150px);
  width: 100%;
  gap: 20px;
  padding: 30px;
}
.imgDiv img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: auto 40%;
  /* border-radius: 50%; */
}
.offer {
  padding: 15px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #dddddd;
  color: #333333;
  box-shadow: 0px 0px 6px #e0e0e0;
  font-size: 14px;
  width: 70%;
  padding-bottom: 30px;
}
.offer img {
  height: 100%;
  width: 90%;
}
.help {
  background-color: #dddddd;
  width: 300px;
  padding: 5px auto;
  font-size: 20px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 0%;
}
.help1 {
  border: 1px solid #dddddd;
  color: #333333;
  box-shadow: 0px 0px 6px #e0e0e0;
  width: 300px;
  font-size: 16px;
  padding: 12px;
  margin-top: -17px;
}
.help1 button {
  background-color: red;
  color: #fff;
  width: 100px;
  height: 25px;
  margin-left: 80px;
}
.review {
  background-color: #dddddd;
  width: 750px;
  padding: 5px auto;
  font-size: 20px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 700;
  padding-left: 25px;
  margin-left: 50px;
}
.table {
  border: 1px solid #dddddd;
  color: #333333;
  box-shadow: 0px 0px 6px #e0e0e0;
  background-color: #eff;
  margin-left: 50px;
  padding: 20px;
}
.table img {
  height: 70px;
  width: 70px;
  border: 1px solid #333333;
}
.table .star1 img {
  height: 25px;
  width: 25px;
  border: none;
}
.last {
  width: 500px;
  margin-left: 20px;
}
.last p {
  margin-bottom: 12px;
}
.last > div {
  margin-bottom: 7px;
}
.table input {
  border-radius: 6px;
  height: 150px;
  width: 60%;
  border: 1px solid #dddddd;
  text-align: left;
  padding-top: -50px;
  margin-top: 6px;
  margin-bottom: 20px;
}
.table button {
  background-color: red;
  color: white;
  height: 20px;
  width: 100px;
}
