/* body{
    background-image: url("https://img.freepik.com/free-photo/big-hamburger-with-double-beef-french-fries_252907-8.jpg?w=2000");
background-size: cover;
} */

.main_popup {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  width: 90%;
  text-align: center;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.img {
  height: 100px;
  margin: auto;
  width: 120px;
}
.img2 {
  height: 70px;
}
p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  text-align: justify;
  line-height: 15px;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.638);
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: start;
  margin: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
  text-align: justify;
  font-weight: 600;
  cursor: pointer;
}
h4 {
  font-size: 17px;
  font-weight: 600;
}
.child_div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: start;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}
.child_div:hover {
  background-color: rgba(156, 156, 156, 0.264);
}
.login_input {
  display: grid;
  gap: 20px;
}
.login_input input {
  width: 70%;
  margin: auto;
  padding: 8px;
  border-radius: 6px;
  border: 0.5px solid rgba(0, 0, 0, 0.217);
  outline: none;
}
.login_input button {
  border: none;
  margin: auto;
  margin-top: 8px;

  font-weight: 600;
  padding: 6px;
  color: white;
  border-radius: 6px;
}
.btn_login {
  background-color: #04be5a;
  width: 200px;
  font-size: 22px;
}
.btn_login:hover {
  background-color: #119850d4;
}
.btn_facebook {
  padding-top: 25px;
  background-color: #3665d5;
  font-size: 17px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.facebook_logo {
  height: 35px;
  margin-right: 10px;
}
.btn_facebook:hover {
  background-color: #193983e6;
}

/* Popup */
.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 36%;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  cursor: pointer;
  color: #000;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.signup_btn {
  border: none;
  background-color: white;
  margin-top: -5px;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}
